.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__links {
    line-height: 1;
    font-size: 24px;
    flex-direction: column;
  }
}